<style>
dl {
  width: 100%;
  overflow: hidden;
  
  padding: 0;
  margin: 0
}
dt {
  float: left;
  width: 50%;
  /* adjust the width; make sure the total of both is 100% */
  
  padding: 0;
  margin: 0
}
dd {
  float: left;
  width: 50%;
  /* adjust the width; make sure the total of both is 100% */
 
  padding: 0;
  margin: 0
}

</style>


<hr style = "margin-top: 2px; margin-bottom: 2px; color: black;"/>

<div class="container " style="width:52rem; margin: 2rem;"  [ngClass]="{ 'collapse': alarm_active }">
  

  <div class="row d-flex justify-content-md-between" style="height: 5rem;">
    <div class="col col-sm-5">
      <p><strong>No Alarms to Display</strong></p>
      
    </div>
    </div>
</div>

<div class="container " style="width:48rem; margin: 2rem;" id="alarm_full_body" [ngClass]="{ 'collapse': !alarm_active }">
  

  <div class="row d-flex justify-content-md-between" style="height: 5rem;">
    <div class="col col-sm-5">
      <p><strong>Residential Alarm </strong></p>
      <h6>18 Nov 2021, 11:23:38 </h6>
    </div>
    
    <div class="col col-sm-3">
      <h2 class="text-danger"><strong> {{remaining_time_string}} </strong></h2>
    </div>

    <div class=" col col-sm-4">
      
      <button type="button" class="btn btn-block btn-warning" (click)="dropdown_collapsed = !dropdown_collapsed">Verify </button>

    </div>

  </div>
 
  
  <hr style = "margin-top: 2px; margin-bottom: 2px; color: black;"/>


  <div id="alarmbody" style="background-color: #fbfbfc;" [ngClass]="{ 'collapse': dropdown_collapsed }" >
  <div class="modal-header row">
    <div class="col col-sm-9">
    <h4 class="modal-title" id="modal-title"><strong> Makani 35643-55412</strong></h4>
    </div>
    <div class="col col-sm-3">
    <button type="button" class="close" aria-describedby="modal-title" (click)="dropdown_collapsed = !dropdown_collapsed">
      <span aria-hidden="true">&times;</span>

    </button>
    </div>
  </div>
  <div class="modal-body">
   
    <dl>
      <dt>Name</dt>
      <dd >Ahmed</dd>
    </dl>
    <hr style = "margin-top: 2px; margin-bottom: 2px; color: black;"/>
    <dl>
      <dt >Phone</dt>
      <dd >0561247896</dd>
    </dl>                      
    <hr style = "margin-top: 2px; margin-bottom: 2px; color: black;"/>
    <dl>
      <dt >Community Name</dt>
      <dd >Zahra Villas</dd>
    </dl>                      
    <hr style = "margin-top: 2px; margin-bottom: 2px; color: black;"/>
    <dl>
      <dt >Villa Number</dt>
      <dd><span class = "text-info">10 </span></dd>
    </dl>
    <hr style = "margin-top: 2px; margin-bottom: 2px; color: black;"/>

   
   
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-success" (click)="false_alarm()">False Alarm</button>
    <button type="button" class="btn btn-info" (click)="call()">Call</button>
    <button type="button" class="btn btn-danger" (click)="transfer()">Transfer</button>
    
  </div>
  </div>
  </div>
  
 

